
// Size variables

$xsmsize: 2px;
$smsize: 5px;
$mdsize: $smsize * 2;
$lgsize: $mdsize * 2;
$hgsize: $lgsize * 2;

$smborder: 1px;
$mdborder: $smborder * 2;
$lgborder: $smborder * 3;

// Font variables

$lightweight: 100;
$mediumweight: 200;
$standardweight: 400;
$strong: 500;
$stronger: 600;
$strongest: 700;

$initialtext: 1rem;
$xsmtext: .8em;
$smtext: 1em;
$smmdtext: $smtext * 1.2;
$mdtext: $smtext * 1.4;
$mdlgtext: $smtext * 1.6;
$lgtext: $smtext * 2;
$xlgtext: $smtext * 2.4;
$hgtext: $smtext * 3.2;
$xhgtext: $smtext * 4;

// Standard colors

$black: rgb(0,0,0);
$white: rgb(255,255,255);
$red: rgb(244,67,54);
$happyred: rgb(237,28,36);
$blue: rgb(33, 150, 243);
$green: rgb(76, 175, 80);
$yellow: rgb(255,227,143);
$orange: rgb(255, 152, 0);

$primary: #E27D60;
$secondary: #85DCB0;
$tertiary: #E8A87C;
$quarternary: #C38D9E;
$quinary: #41B3A3;
$ltcolor: #f6f6f6;
$ltmdcolor: rgb(224,224,224);
$mdcolor: #eee;
$mddkcolor: #666;
$dkcolor: #333;

// Standard media query breakpoints

$max-break-hddesktop: 4096px;
$min-break-hddesktop: 1921px;
$max-break-mddesktop: 1920px;
$mid-break-mddesktop: 1600px;
$min-break-mddesktop: 1441px;
$max-break-lwdesktop: 1440px;
$min-break-lwdesktop: 1280px;
$max-break-tablet: 1279px;
$mid-break-tablet: 1024px;
$min-break-tablet: 768px;
$max-break-mobile: 767px;
$mid-break-mobile: 401px;
$min-break-mobile: 300px;
$min-break-wearable: 136px;
$max-break-wearable: 299px;

/* Easings */

$easeInSine: cubic-bezier(0.47, 0, 0.745, 0.715);
$easeOutSine: cubic-bezier(0.39, 0.575, 0.565, 1);
$easeInOutSine: cubic-bezier(0.445, 0.05, 0.55, 0.95);
$easeInQuad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
$easeOutQuad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$easeInOutQuad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
$easeInCubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
$easeOutCubic: cubic-bezier(0.215, 0.61, 0.355, 1);
$easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1);
$easeInQuart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
$easeOutQuart: cubic-bezier(0.165, 0.84, 0.44, 1);
$easeInQuint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
$easeOutQuint: cubic-bezier(0.23, 1, 0.32, 1);
$easeInOutQuint: cubic-bezier(0.86, 0, 0.07, 1);
$easeInExpo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
$easeOutExpo: cubic-bezier(0.19, 1, 0.22, 1);
$easeInOutExpo: cubic-bezier(1, 0, 0, 1);
$easeInCirc: cubic-bezier(0.6, 0.04, 0.98, 0.335);
$easeOutCirc: cubic-bezier(0.075, 0.82, 0.165, 1);
$easeInOutCirc: cubic-bezier(0.785, 0.135, 0.15, 0.86);
$easeInBack: cubic-bezier(0.6, -0.28, 0.735, 0.045);
$easeOutBack: cubic-bezier(0.175, 0.885, 0.32, 1.275);
$easeInOutBack: cubic-bezier(0.68, -0.55, 0.265, 1.55);
