
<div id="bg"></div>
<img id="logo" src="images/logo.png" />
<div id="playField">
    <canvas id="gameCanvas" width="600" height="320"></canvas>

    <div id="scanlines">
        <div class="scanlines"></div>
    </div>
</div>

<div id="credits">
    <p class="primary">./by Jeffrey Wilbur</p>
    <p class="secondary">original by Nicholson NY</p>
</div>

<p class="shimFont christmas">&nbsp;</p>